//------------------------
// EDITOR
//
// Author: Lorenzo Ruiz
//------------------------

@import '../colors';


.editor {
  display: flex;
  background: @light-grey;

  .code-container {
    flex: 1;
    position: relative;
  }

  .preview-container {
    flex: 1;
    overflow-y: auto;
    background: #fff;

    .preview {
      padding: 15px 20px;
    }
  }

}
