//------------------------
// EDITOR
//
// Author: Lorenzo Ruiz
//------------------------

.editor {
  height: 100%;
  display: flex;

  .code {
    height: 100%;
    flex: 1;
    flex-basis: 0;
  }

  .preview-container {
    flex: 1;
    flex-basis: 0;

    .preview {
      height: 100%;
      padding: 15px 20px;
    }
  }

}
